################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DemoConsoleAppStorage/obj
/DemoConsoleAppStorage/bin/Debug/net5.0
/.vs/DemoConsoleAppStorage/v16
